body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #2c3e50;
}

#game {
    text-align: center;
}

#deck {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.card {
    width: 80px;
    height: 120px;
    background-color: #34495e;
    border: 2px solid #2c3e50;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
    transform-style: preserve-3d;
}

.card .card-inner {
    transform: rotateY(180deg); /* Corrige a rotação do conteúdo */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
}

.card.flipped {
    transform: rotateY(180deg);
    background-color: #e74c3c;
}

#shuffle {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
